/*
* Theme for LoLPrefs - Chris Hua
*/

/* Sticky footer styles
-------------------------------------------------- */
 html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 80px;
    background-image: url('../assets/bgpattern.jpg');
    background-repeat: repeat;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: rgba(44, 62, 80, 0.3);*/
    background-color: rgba(115, 179, 216, 0.2)
}
body > .container {
    padding: 60px 15px 0;
}
/* */
 #masthead {
    color: #fefffe;
    background-color: #e35016;
}
#brand {
    font-weight: bold;
    color: #18bc9c;
}
#regionSelect {

}
#input-fields {
    padding:10px;
    padding-bottom:15px;
    background-color: rgba(115, 179, 216, 0.2);
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#submit {
    text-align:center;
}
#uname {
    padding-bottom:10px;
}
#regionBox {
    text-align:center;
}
#regionSelect {
    width:100px;
}
#laneCap {
    text-align: center;
}
#feature-left, #feature-mid, #feature-right {
    min-height: 150px;
    padding-top:10px;
}
#features {
    background-color:#E1CCB3;
}
#rowTwo {
    padding-bottom: -20px;
}
#rowThree {
    padding-top:-20px;
}
.textarea {
    overflow: auto;
    resize:none;
}
h3 {
    text-align:center;
    letter-spacing:2px;
}
hr {
    border-top-color:#2c3e50;
}
.pick {
    width: 204px;
}
.subtitle {
    padding-top:5px;
    text-transform:uppercase;
    font-size:80%;
    letter-spacing:1px;
}
.chBtn {
    margin-left:auto;
    margin-right:auto;
}
.feature-title {
    text-align:center;
    font-weight:bold;
}
/* reorderable list */
 .lane-list
/* UL list class */
 {
}
.lane-item {
    text-align:center;
}
.lane-item,
/* LI item class */
 .lane-moving
/* Used by the sortable place holder */
 {
    color:#ffffff;
    /* structure */
    /*margin: 10px;*/
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:5px;
    padding: 10px;
    width: 100px;
    /* skin */
    background-color:#2c3e50;
    cursor: pointer;
}
.lane-moving
/* Used by the sortable place holder */
 {
    /* skin */
    border: 2px dashed grey;
    background-color:#FFFFFF;
}
